

/* Egg timer: Disable Bootstrap smooth scrolling to ensure radio button validations display correctly */
/* https://github.com/twbs/bootstrap/issues/33757 */
:root {
  scroll-behavior: auto !important;
}




section {
	margin-bottom: 1em;
}

div.debug {
	border: 3px solid yellow;
	margin: 10px;
	padding: 10px;
}

/* egg timer */
div.stale-warning {
  border: 3px solid red;
  margin-bottom: 20px;
  padding: 10px;
}

h1 span[class="subhead"] {
	display: block;
	font-size: .7em;
	font-weight: normal;
}




em {
	font-style: normal;
	text-decoration:underline;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p, ol {
  clear: both;
}

ol {
  list-style: none;
  padding: 0;
}

li:has(h2), li:has(h3) {
	margin-bottom: 1.5em;
}
li h2, li h3 {
	font-size: 1.2em;
	font-weight: normal;
}
li p {
	margin-bottom: 0em;
}
#business-items li {
	margin-bottom: 1em;
}
#business-items ol li a {
	border: 1px, dotted #ccc;
	display: block;
	padding: .5em;
}
#business-items ol li a:hover {
	background-color: #ccc;
}
.read-link {
	background-color: #ebe9e8;
	border: 1px, dotted #ccc;
	padding: .5em;
}
a.rss {
  background-image: url("/rss.svg");
  background-repeat: no-repeat;
  display: block;
  background-size: 20px;
  padding-left: 30px;
}

.url-copy {
	width: 100%;
}


.schema-wrapper  {
  overflow-x: scroll;
  scrollbar-width:none;
}

.table-wrapper  {
  overflow-x: scroll;
  scrollbar-width:none;
}



td.commons {
	background-color:lightgreen;
	font-weight:bold;
}
td.lords {
	background-color:pink;
	font-weight:bold;
}

pre code {
	color: #ccc;
}

/* Form stuff */
form {
	margin-bottom: 1em;
}
fieldset {
	margin-bottom: 1.5rem;
}
p.radio {
	border: 1pt solid #fff;
	border-radius:0.5rem;
	padding:0.25rem;
	width:100%;
}
p.radio:hover {
	border-color: black;
}
p.radio * {
	cursor:pointer;
}
input[type=radio] {
	transform: scale(1.5);
}
input[type=date] {
	border-radius: 0.25rem;
	font-size: larger;
	padding: 0.5rem;
}
input[type=number] {
	border-radius:0.25rem;
	font-size:larger;
	padding: 0.5rem;
}
input:focus {
	border-color: blue;
}
button, a.previous, a.next {
	background-color: white;
	border: 2pt solid #373151;
	border-radius: 0.25rem;
	color: #373151;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem;
	text-decoration: none;
}
a.next {
	float: right;
}
button:hover, a.previous:hover, a.next:hover {
	background-color: #373151;
	color: #fff;
}

/* Result page */
p.box {
	background-color: white;
	border:2pt solid gray;
	border-radius:0.25rem;
	color:black;
	padding: 0.75rem;
	font-size:larger;
}

#egg-timer #logo, #egg-timer .formerly {
	display: inline-block;
}
#logo {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
#logo:hover {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}

a.csv {
  background-image: url("/egg-timer/csv.png");
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}
a.csv abbr {
  visibility: hidden;
}