/* A user stylesheet to overide author CSS, making components marked as librarian-only visible */
body header .uk-parliament-procedure-browser-librarian-only {
	display: inline-block !important;
}
body main .uk-parliament-procedure-browser-librarian-only {
	display: inline-block !important;
}


/* Places a yellow stripe down the left of the page to indicate librarian mode */
body.uk-parliament-procedure-browser {
	background: yellow;
	padding-left: 1em;
}