<% if @csv_url or @rss_url -%>
	<p id="feeds">
		<%= link_to( "Subscribe to #{content_tag( 'abbr', 'RSS', :title => 'Really Simple Syndication' )}".html_safe, @rss_url, :class => 'rss' ) if @rss_url %>
		<%= link_to( "Download #{content_tag( 'abbr', 'CSV', :title => 'Comma-separated values' )}".html_safe, @csv_url, :class => 'csv' ) if @csv_url %>
	</p>
<% end -%>