/* Styling for nav in header */
nav#header-nav {
	margin-top: 1em;
}
nav#header-nav a {
	border-bottom: 3px #373151 solid;
	display: inline-block;
	margin-right: 10px;
	padding: .5em 0 .2em 0;
}
nav#header-nav a:hover {
	border-bottom-color: #fff;
}


/* Styling to for subheads in multiline h1 titles */
h1 span[class="subhead"] {
	display: block;
	font-size: .7em;
	font-weight: normal;
}


/* Styling for secondary navigation */
.subnav {
	border-color: #cbc9cd;
	border-style: solid;
	border-width: 0 0 1px 0;
	margin-bottom: 1em;
}
.subnav a {
	border-bottom: 4px #fff solid;
	color: #2b57ab;
	display: inline-block;
	text-decoration: none;
  	margin-right: 0.2rem;
  	padding: .5em 0 .2em 0;
}
.subnav a:hover {
	border-bottom-color: #cbc9cd;
}


/* Styling for tables */
table {
	width: 100%;
}
th, td {
	padding: .3em;
}


/* Styling for table heads */
thead {
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
}
body.brand-general thead {
	background-color: #625a75;
}
body.brand-commons thead {
	background-color: #006548;
}
body.brand-lords thead {
	background-color: rgb(156.7078947368, 7.7921052632, 48.4842105263);
}
body.brand-bicameral thead {
	background-color: #625a75;
}


/* Styling for sortable tables */
table.sortable th {
	padding: 0;
}
table.sortable thead a {
	background-image: url('/sort.png');
	background-position: left;
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	padding: .3em .3em .3em 1.5em;
  	text-decoration: none;
}
table.sortable thead .number a {
	background-position: right;
	padding-right: 1.5em;
}
table.sortable thead a:focus {
	background-color: inherit;
}
table.sortable.sorted-ascending thead th a.sorted {
	background-image: url('/sort-up.png');
}
table.sortable.sorted-descending thead th a.sorted {
	background-image: url('/sort-down.png');
}


/* Styling for striped tables */
tbody tr:nth-child(2n) {
	background-color: #efefef;
}


/* Styling for multibody tables */
table.multibody tbody {
	border-bottom: 2px solid #bbb;
}
table.multibody tbody:last-child {
	border-bottom-width: 0;
}


/* Styling for key value pair tables */
table.key-value td {
	border: 1px solid #ddd;
}
table.key-value td:nth-child(1) {
	width: 30%;
}
table.key-value td:nth-child(2) {
	width: 70%;
}


/* Styling for numeric fields in tables */
th.number, td.number {
	text-align: right;
}
td.number {
	font-family: ui-monospace, monospace;
	font-size: 85%;
	letter-spacing: -0.4px;
}


/* Styling for list item contents */
li:has(h2), li:has(h3) {
	margin-bottom: 1.5em;
}
li h2, li h3 {
	font-size: 1.2em;
	font-weight: normal;
}


/* Styling for unnumbered ordered lists */
ol.unnumbered {
	padding: 0;
}
ol.unnumbered li {
	list-style: none;
}


/* Styling for previous and next links */
.previous-next {
	list-style: none;
	padding: 0 0 2em 0;
}
.previous-next .previous {
	float: left;
}
.previous-next .next {
	float: right;
}


/* Styling for sections */
section {
	margin-bottom: 1em;
}


/* Styling for feeds */
#feeds a {
	background-position: left;
	background-repeat: no-repeat;
	margin-right: .8em;
}
#feeds a.rss {
	background-image: url('/rss.svg');
	background-size: 3em;
	padding-left: 2em;
}
#feeds a.csv {
	background-image: url('/csv.png');
	background-size: 1em;
	padding-left: 1.2em;
}


/* Styling for the debug panel to show page title and description in development */
div.debug {
	background: yellow;
	border: 3px solid black;
	margin: 10px;
	padding: 10px;
}
div.debug tr {
	background: transparent;
}
div.debug td {
	border-color: #000;
}


/* Styling to add vertical spacing between radio button items in radio button groups */
.p-form__radio-group-spaced .p-form__radio-item {
	margin-bottom: .8em;
}


